#aa{
	color: #9400FF
}

#bb{
	color: #27005D;
}

#cc{
	color: #27005D;
}

#dd{
	border-radius: 75px;
	margin-left: 50px;
	margin-top: 50px;
	box-shadow: 3px 3px 3px;
}

#ee{
	color: white;
	background-color: #9400FF;
}

#ff{
	border-color: #9400FF;
	color: #9400FF;
}

#gg{
	color: #27005D;
}

#hh{
	color: #9400FF;
}

#ii{
	color: #27005D;
}

#jj{
	background-color: #9400FF;
	border: none;
}

#kk{
	color: #27005D;
}

#ll{
	color: #9400FF;
}

#mm{
	color: #27005D;
}

#nn{
	color: white;
	background-color: #9400FF;
}

#oo{
	color: #9400FF;
	border-color: #9400FF;
}

#pp{
	border-radius: 50px;
	margin-left: 50px;
	box-shadow: 3px 3px 3px;
}

#qq{
	color: #27005D;
}

#rr{
	color: #9400FF;
}

#ss{
	color: #27005D;
}

#tt{
	color: #9400FF;
	border-color: #9400FF;
}

#uu{
	background-color: #9400FF;
}

#vv{
	color: white;
}

#ww{
	padding-bottom: 40px;
	margin-left: 50px;
}

#xx{
	color: #27005D;
}

#yy{
	color: white;
	background-color: #9400FF;
}

#zz{
	color: #27005D;
}

#aaa{
	color: #9400FF;
}

#bbb{
	color: #27005D;
}

#ccc{
	width: 400px;
	height: 400px;
	box-shadow: 2px 2px 2px ;
	margin-left: 50px;
}

#ddd{
	margin-top: 50px;
	box-shadow: 2px 2px 2px 2px #9400FF;
}

#eee{
	color: #27005D;
}

#fff{
	background-color: #9400FF;
	color: white;
	padding-left: 150px;
	padding-bottom: 20px;
	padding-top: 20px;
}

#ggg{
	background-color: lightgray;
	padding-left: 75px;
}

#hhh{
	background-color: lightgray;
}

#iii{
	color: #9400FF;
}

#jjj{
	box-shadow: 2px 2px 2px 2px #9400FF;
}

#kkk{
	color: #27005D;
}

#lll{
	box-shadow: 2px 2px 2px 2px #27005D;
}

#mmm{
	color: #27005D;
}

#nnn{
	box-shadow: 2px 2px 2px 2px #9400FF;
}

